#container {
    justify-content:center;
    align-items: center;
    margin-top: 30px;
}
#bigger-container {
    display:flex;
    flex-direction: row;
    border-radius: 0px 8px 8px 8px;
}
div.name-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 200px;
    font-size: 21px;
    text-align: end;
}
div.name {
    color: #fff;
    margin: 10px;
    line-height: 40px;
}
div.bar-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 500px;
    font-size: 21px;
    text-align: center;
    border-radius: 8px;
    background-color:white;
}
div.bar {
    margin: 10px;
    background-color: #6C63FF;
    line-height: 40px;
    border-radius: 8px 32px 32px 8px;
}
#picture {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background-color: black; 
    border: solid #BDBDBD 1px; 
    box-shadow: -1px 5px 36px rgba(0, 0, 0, 0.7)  ; 
    -webkit-box-shadow: -1px 5px 36px rgba(0, 0, 0, 0.7)  ; 
    -moz-box-shadow: -1px 5px 36px rgba(0, 0, 0, 0.7)  ; 
}
#about-div{
    background-color: #6B7AA1;
}
div.sub-about {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.sub-about-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 200px;
    padding-right: 10px;
    word-wrap: break-word;
}
img.about-img {
    width: 50%;
    height: 50%;
}
p.desc {
    color: #dedede;
    font-size: 0.90em;
    align-self: center;
}
#stats {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#inventory {
    background-color: #dedede;
    height: auto;
    width: 50%;
    border-radius: 8px ;
    border: 3px;
    border-style: solid;
    border-color: #696969;

}

.inventory-item {
    color: #696969;
    font-family: "Press Start";
    padding-left: 2em;
    font-size: 0.75em;
}
#inventory .inventory-item img{
    width: 4em;
}

p.item-name{
    color:black;
    size: 1em
}
img#logo {
    width:128px;
    align-self: center;
    justify-self: center;
}

#equipment {
    background-color: #dedede;
    border-radius: 8px ;
    border: 3px;
    border-style: solid;
    border-color: #696969;
}
p.a-title {
    color: #696969;
    font-family: "Press Start";
    font-size: 1em;
}

#portfolio-title {
    color: white;
    text-align: center;
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
    font-size: 34px;
    color: black;
    padding-bottom: 75px;
}

#portfolio-3d {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    border-radius: 32px;
    background-color: #C1CFC0;
}

#img-3d {
    width: 100%;
    border-radius: 16px;
}

#img-2d {
    width: 48%;
}

#portfolio-2d {
    padding-top: 2%;
    width: 100%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}

#portfolio-music {
    margin-top: 64px;
    height: 500px;
    width: 75%;
    background-color: #C1CFC0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

#my-music {
    border-radius: 16px;
}

#music-desc {
    font-size: 21px;
}

#centered {
    align-items: center;
    width: 800px;
}

#f-name, #f-quo, #f-cr {
    font-size: 1em;
} 

@media (max-width: 900px){
    #picture {
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 768px) {
    #picture {
        width: 90%;
        height: 90%;
    }

    #stats {
        width: 100%;
        margin-top: -10%;
        flex-direction: column;
        justify-content: space-between;
    }

    div.container {
        width: 100%;
    }

    #bigger-container {
        margin-top: 50px;
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    div.name-container {
        text-align: left;
        font-size: 1em;
        width: 50%;
    }

    div.name, div.bar {
        line-height: 30px;
    }

    div.bar-container {
        width: 20em;
        font-size: 1em;
    }

    div.about-div {
        height: 100%;
        margin-top: -20px;
        flex-direction: column;
        width: 100%;
    }

    div.sub-about {
        font-size: 0.85em;
        width: 100%;
    }

    p.desc {
        font-size: 0.4em;
    }

    div.img-wrapper-2d {
        
    }

    
    
    #portfolio-music {
        width: 100%;
        height: 300px;
    }

    img.about-img {
        width: 40%;
        height: 40%;  
        margin-top: 10%;
    }

    #portfolio-art {
        width: 100%;
    }

}