
div.container {
    display: flex;
    flex-direction: row;
    margin: 32px;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
}

div.bigger-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 8px 8px 8px;
}

div.name-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 200px;
    font-size: 21px;
    text-align: end;
}

div.name {
    color: #fff;
    margin: 10px;
    line-height: 40px;
}

div.bar-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 500px;
    font-size: 21px;
    text-align: center;
    border-radius: 8px;
    background-color:white;
}

div.bar {
    margin: 10px;
    background-color: #6C63FF;
    line-height: 40px;
    border-radius: 8px 32px 32px 8px;
}

#picture {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background-color: black; 
    border: solid #BDBDBD 1px; 
    box-shadow: -1px 5px 36px rgba(0, 0, 0, 0.7)  ; 
    -webkit-box-shadow: -1px 5px 36px rgba(0, 0, 0, 0.7)  ; 
    -moz-box-shadow: -1px 5px 36px rgba(0, 0, 0, 0.7)  ; 
}

#one { width: 47%; }
#two { width: 57%; }
#three { width: 47%; }
#four { width: 66%; }
#five { width: 76%; }

div.about-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
    width: 1500px;
    background-color: #6B7AA1;
}

div.sub-about {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.sub-about-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 200px;
    padding-right: 10px;
    word-wrap: break-word;
}

img.about-img {
    width: 50%;
    height: 50%;
}

p.desc {
    font-size: 21px;
}

#stats {
    padding-top: 50px;
    padding-bottom: 50px;
}

#portfolio-title {
    color: white;
}

#portfolio {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
    font-size: 34px;
    color: black;
    padding-bottom: 75px;
}

#portfolio-3d {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    background-color: #C1CFC0;
}

#img-3d {
    width: 800px;
    border-radius: 16px;
    border-color: black;
}

#portfolio-2d {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 64px;
    border-radius: 32px;
    background-color: #C1CFC0
}

#portfolio-music {
    margin-top: 64px;
    background-color: #C1CFC0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

#my-music {
    border-radius: 16px;

}

#music-desc {
    font-size: 21px;
}

#centered {
    align-items: center;
}

#top-img {
    border-radius: 8px 8px 0px 0px;
}

#bot-img {
    border-radius: 0px 0px 8px 8px;
}