div.about-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p.contact-texts {
    font-size: 1em;
    align-self: flex-start;
}

#form-wrapper {
    align-items: center;
    width: 40%;
}

#from-wrapper, #message-wrapper {
    width: fit-content;
}

textarea {
    font-size: 16px;
    height: 20px;
}

#message {
    height: 200px;
}

button.submit {
    margin: 10px;
    align-self: flex-end;
    width: 70px;
}

button.submit {
    color: black;
    align-self: center;
}

a.submit {
    color: black;
}

#sent {
    text-align: center;
    width:40%;
    font-size: 1em;
    padding: 15px;
    background-color: #E7E0C9;
    border-radius: 16px;
    color: black;
}


@media (max-width: 768) {
    div.form-wrapper {
        margin: 100px
    }
}

