
p.contact-texts {
    padding-right: 20px;
    align-self: flex-start;
}

#contact-from {
    justify-content: right;
    align-items:center;
}

#email {
    font-size: 16px;
    height: 20px;
}

#contact-message {
    justify-content: right;
}

#message {
    font-size: 16px;
    height: 200px;
}

#contact-me-form {
    justify-content: center;
    align-content: center;
    align-items: center;
}

#form-wrapper {
    width: 500px;
    margin-right: 100px;
}

button.submit {
    margin: 10px;
    align-self: flex-end;
    width: 80px;
}

#sent {
    padding: 20px;
    background-color: #E7E0C9;
    border-radius: 16px;
    border-color: white;
    border-style:groove;
    border-width: 2px;

    color: black;
}

button.submit {
    color: black
}

a.submit {
    color: black;
}

