footer {
    height: 200px;
    background-color: #93c695;
}

p#me {
    font-family: "Press Start";
    font-size: 1.5em;
}

div#name-container {
    background-color: #7aae83;
    padding-bottom: 0%;
}

footer div a {
    color: white;
    font-size: 1em;
}
footer div a:hover {
    color: black;
}

