#theBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 450px;
}

div.myName {
    font-size: 3em;
    width: fit-content;
    height: fit-content;
    color: #FF4C29;
}

div.intro {
    font-size: 20px;
    padding-top: 20px;
}

div.ianLogo {
    display: flex;
    align-self: center;

}

h1 {
    padding: 0px;
    margin: 0px;
}

p.intro {
    padding: 10px;
    margin: 0px;
    font-family: Press Start;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 550px;
    word-wrap:break-word;
}


#greetings{
    font-size: 32px;
    padding: 0px 0px;

}

#ianpng {
    width: 400px;
    box-shadow: 2px 26px 18px -19px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 26px 18px -19px rgba(0, 0, 0, 0.25);
}

#intro-wrapper {
    width: fit-content;
}

@media (max-width: 768px) {
    #theBody{
        display: flex;
        flex-direction: column-reverse;
        height: 450px;
        justify-content: center;
        margin-top: 40%;
    }

    #ianpng {
        width: 250px;
    }

    #greetings {
        width: 100%;
        text-align: center;
    }

    div.myName {
        align-self: center;
    }


    h1.name {
        font-size: 1.2em;
        text-align: center;
    }

    p.intro {
        font-size: 0.6em;
        width: 100%;
        text-align: center;
    }

    #intro-wrapper {
        width: 100%;
    }
}

@media (max-width: 400px){
    #theBody {
        margin-top: 30%;
    }
}