#theBody{
    height: 450px;
    justify-content: space-around;
    align-content: center;
}

.name {
    color: #FF4C29;
}

div.myName {
    font-size: 64px;
    width: fit-content;
    height: fit-content;
}

div.intro {
    font-size: 20px;
    padding-top: 20px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

p.intro {
    padding: 10px;
    margin: 0px;
    font-family: Press Start;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 550px;
    word-wrap:break-word;
}

#greetings{
    font-size: 32px;
    padding: 0px;
}