#theBody{
    display: flex;
    flex-direction: row;
    height: 450px;
    justify-content: center;
    align-content: center;
}

div.myName {
    font-size: 3em;
    width: fit-content;
    height: fit-content;
    color: #FF4C29;
}

div.intro {
    font-size: 20px;
    padding-top: 20px;
}

div.ianLogo {
    display: flex;
    align-self: center;

}

h1 {
    padding: 0px;
    margin: 0px;
}

p.intro {
    padding: 10px;
    margin: 0px;
    font-family: Press Start;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 550px;
    word-wrap:break-word;
}


#greetings{
    font-size: 32px;
    padding: 0px 0px;

}

#ianpng {
    width: 400px;
    box-shadow: 2px 26px 18px -19px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 26px 18px -19px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
    #theBody{
        display: flex;
        flex-direction: column-reverse;
        height: 450px;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        margin-top: 20%;
        margin-left: 2%;
    }

    #ianpng {
        width: 250px;
    }


    h1 {
        font-size: 1.2em;
    }

    p.intro {
        font-size: .6em;
        width: 40em;
    }
}