@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}
body{
    font-family: sans-serif;
    background-color: #11324D;
    color: white;
}

ul.nav { 
    position: sticky;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.nav li {
    opacity: 1;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    text-transform: capitalize;
}

ul.nav a {
    color: white;
    text-decoration: none;
}

ul.nav li :hover {
    background-color: #FF4C29;
    color: black ;
}

div.vertical-flexer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

div.horizontal-flexer {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

div.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 32px;
    margin-bottom: -10px;
    height: 150px;
    width: 100%;
    background-color: #6B7AA1;
}

div.footer-link-list {
    margin-bottom: -5px;
}

#footer-quotation {
    width: 200px;
}

ul.link { 
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.link li {
    display: inline-block;
    margin-left: none;
    padding: 20px 10px;
    text-align: center;
}

ul.link img {
    width: 32px;
    height: 32px;
    opacity: 1;
}

ul.link li :hover{
    opacity: 0.7;
}