@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}

@font-face {
    font-family: 'Press Start';
    src: url("/assets/fonts/PressStart2P-vaV7.ttf");
}

#home-button {
    padding: 5px;
    width: 60px;
    height: 60px;
}

#nav {
    justify-content: e;
}

body{
    font-family: sans-serif;
    background-color: #78bde1;
    color: white;
}

div.vertical-flexer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

div.horizontal-flexer {
    display: flex;
    flex-direction: column;
    justify-content:center;

}

#footer {
    height: fit-content;
    width: 100%;
    background-color: #6B7AA1;
    font-size: 1em;
}

#scpng {
    width: 48px;
    height: 48px;
    margin-top: -5px;
}

#cr {
    align-self: center;
    word-wrap: break-word;
}

#footer-quotation {
    width: 50%;
}

#footer-logo {
    padding-top: 15px;
    width: 50px;
    align-self: center;
}

ul.link { 
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.link li {
    display: inline-block;
    margin-left: none;
    padding: 0px 0px;
    text-align: center;
    align-items: center;
}

ul.link img {
    width: 32px;
    height: 32px;
    opacity: 1;
}

ul.link li :hover{
    opacity: 0.7;
}

div.ianLogo {
    width: fit-content;
    height: fit-content;
}

#home-button-wrapper{
    display: flex;
    justify-content: center;
    
}

#home-button-wrapper :hover {
    opacity: 0.7;
}

div.sub-nav {
    padding: 0px 20px;
}

div.sub-nav :hover {
    color: #FF4C29;
    text-decoration: none;
    text-decoration-line: none;
}

a {
    text-decoration: none;
}

a.nav-text {
    color: white;
}

#footer-links {
    align-items: center;
}


#fbpng,  #ghpng {
    width: 2em;
    height: 2em;
}

#scpng {
    width: 4em;
    height: 4em;
}
#breathing {
    width: fit-content;
    padding: 0%;
    margin: 50px auto;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    font-family:'Press Start';
    color: #b4b386;
    text-align: center;   
    text-shadow: 0.1em 0.1em 0.1em black;
    }

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dedede; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ababab; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media (max-width: 768px ) {
    ul.link li {
        padding: 15px 5px;
    }
    ul.link {
        width: 50%;
    }

    div.footer {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #footer-quotation {
        width: 100%;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        text-align: center;
        font-size: 1em;
        width: 100%;
    }

    #fbpng, #twtpng, #ghpng {
        width: 2em;
        height: 2em;
    }

    #scpng {
        width: 3em;
        height: 3em;
    }

}

