@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}

@font-face {
    font-family: 'Press Start';
    src: url("/assets/fonts/PressStart2P-vaV7.ttf");
}

#home-button {
    padding: 5px;
    width: 60px;
    height: 60px;
}

#nav {
    justify-content: space-between;
}

body{
    font-family: sans-serif;
    background-color: #11324D;
    color: white;
}

ul.nav { 
    position: sticky;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.nav li {
    opacity: 1;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    font-size: 21px;
    text-transform: capitalize;
}

ul.nav a {
    color: white;
    text-decoration: none;
}

ul.nav li :hover {
    background-color: #FF4C29;
    color: black ;
}

div.vertical-flexer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

div.horizontal-flexer {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

div.footer {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    padding-bottom: 32px;
    margin-bottom: -10px;
    height: 100px;
    width: 100%;
    background-color: #6B7AA1;
    font-size: 10px;
}

#scpng {
    width: 48px;
    height: 48px;
    margin-top: -5px;
}

#cr {
    align-self: center;
}

#footer-quotation {
    width: 200px;
    align-self: center;
}

#footer-logo {
    padding-top: 15px;
    width: 50px;
    align-self: center;
}

ul.link { 
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.link li {
    display: inline-block;
    margin-left: none;
    padding: 20px 10px;
    text-align: center;
}

ul.link img {
    width: 32px;
    height: 32px;
    opacity: 1;
}

ul.link li :hover{
    opacity: 0.7;
}

div.ianLogo {
    width: fit-content;
    height: fit-content;
}

#ianpng {
    width: 400px;
    box-shadow: 2px 26px 18px -19px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 26px 18px -19px rgba(0, 0, 0, 0.25);
}



#home-button-wrapper{
    display: flex;
    justify-content: center;
    
}

#home-button-wrapper :hover {
    opacity: 0.7;
}

div.sub-nav {
    padding: 0px 20px;
}

div.sub-nav :hover {
    color: #FF4C29;
    text-decoration: none;
    text-decoration-line: none;
}

a {
    text-decoration: none;
}

a.nav-text {
    color: white;
}


